@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Base */
@import "./base/fonts.css";
@import "./base/base.css";

/* Custom Components */
@import "./components/button.css";


