header{
    @apply w-[1440px] h-667 bg-[url('/assets/img/header_background.png')] bg-no-repeat bg-center flex flex-col items-center;
    @apply xl:w-full;
}

main{
    @apply bg-[#E5E5E5] w-[1440px] pl-[70px] pr-[70px] pt-[20px];
    @apply xl:w-full;
}